<h3><i class="fas fa-book-reader">StoryBooks</i></h3>
<div class="section">
    <p class="lead">Create a blog story</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In With Google
    </a>
</div>